* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#toggle-btn {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1100;
}

#main-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    padding: 20px;
}

#sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100%;
    position: relative;
}

#sidebar h2 {
    margin-bottom: 15px;
}
.carousel-item{
    width: 300px;
    height: 200px;
}
#sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#sidebar button:hover {
    background: linear-gradient(135deg, #feb47b, #ff7e5f);
    transform: translateY(-3px);
}

#content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-content {
    display: none;
}

.article-content.active {
    display: block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Responsiveness */
@media (max-width: 768px) {
    #main-layout {
        grid-template-columns: 1fr;
    }

    #toggle-btn {
        display: block;
    }

    #sidebar {
        position: fixed;
        left: -250px;
        top: 0;
        width: 250px;
        height: 100%;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    #sidebar.open {
        left: 0;
    }
}
